In [7]:
import pandas as pd
import numpy as np
import logging

isTest = False

In [8]:
N = '200'
dataType = 'best'

pathTrain = "data/BEST&MOST" + N + "/train-" + dataType + N + ".arff"
pathDev = "data/BEST&MOST" + N + "/dev-" + dataType + N + ".arff"
pathTest = "data/BEST&MOST" + N + "/test-" + dataType + N + ".arff"

txtPath = "myData/txt/train-" + dataType + "-" + N + ".txt"
txtpath_Test = "myData/txt/test-" + dataType + "-" + N + ".txt"

outPath = "myData/train-" + dataType + "-" + N + ".arff"
outPath_test = "myData/test-" + dataType + "-" + N + ".arff"

In [9]:
# df_preJobs = pd.read_csv('outPre.txt', sep='\t', header=None)
# df_preJobs.head()

In [10]:
with open(pathTrain, mode = 'r') as f:
    trainData = f.read()

with open(pathDev, mode = 'r') as f:
    devData = f.read()
    
with open(pathTest, mode = 'r') as f:
    testData = f.read()
    
trainTxts = trainData.split("@DATA\n")
devTxts = devData.split("@DATA\n")
testTxts = testData.split("@DATA\n")

with open(txtPath, mode = 'w') as f:
    f.write(trainTxts[1] + devTxts[1])

with open(txtpath_Test, mode = 'w') as f:
    f.write(testTxts[1])

In [11]:
df = pd.read_csv(txtPath, sep = ',', header=None)
df.rename(columns = {0:'tweet-id', 1:'user-id', df.shape[1]-1:'class'}, inplace=True)
df.shape

(130613, 457)

In [12]:
df_test = pd.read_csv(txtpath_Test, sep = ',', header=None)
df_test.rename(columns = {0:'tweet-id', 1:'user-id', df.shape[1]-1:'class'}, inplace=True)
df_test.shape

(32977, 457)

In [13]:
df.head()

,tweet-id,user-id,2,3,4,5,6,7,8,9,...,447,448,449,450,451,452,453,454,455,class
0,110,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
1,111,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
2,112,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
3,113,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
4,114,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork

In [14]:
df.shape[1] - 2

455

In [15]:
df.head()

,tweet-id,user-id,2,3,4,5,6,7,8,9,...,447,448,449,450,451,452,453,454,455,class
0,110,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
1,111,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
2,112,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
3,113,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork
4,114,USER_ce270acf,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NewYork

In [16]:
df_test.head()

,tweet-id,user-id,2,3,4,5,6,7,8,9,...,447,448,449,450,451,452,453,454,455,class
0,32,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,?
1,33,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,?
2,34,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,?
3,35,USER_d12c6a27,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,?
4,36,USER_d12c6a27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,?

In [17]:
dSum = {}
for index, row in df.iterrows():
    user_id = row['user-id']
    arr = row.tolist()[2:-1]
    if user_id in dSum:
        for i in range(len(arr)):
            dSum[user_id][i] += arr[i]
    else:
        dSum[user_id] = arr

In [18]:
len(dSum)

3190

In [19]:
dfOut = df[['tweet-id', 'user-id','class']]
dfOut.head()

   tweet-id        user-id    class
0       110  USER_ce270acf  NewYork
1       111  USER_ce270acf  NewYork
2       112  USER_ce270acf  NewYork
3       113  USER_ce270acf  NewYork
4       114  USER_ce270acf  NewYork

In [20]:
dfOut[dfOut['user-id'] == 'USER_ce270acf'].shape[0]

34

In [21]:
dSum_test = {}
for index, row in df_test.iterrows():
    user_id = row['user-id']
    arr = row.tolist()[2:-1]
    if user_id in dSum_test:
        for i in range(len(arr)):
            dSum_test[user_id][i] += arr[i]
    else:
        dSum_test[user_id] = arr

In [22]:
dfOut_test = df_test[['tweet-id', 'user-id', 'class']]
dfOut_test.head()

   tweet-id        user-id class
0        32  USER_d12c6a27     ?
1        33  USER_d12c6a27     ?
2        34  USER_d12c6a27     ?
3        35  USER_d12c6a27     ?
4        36  USER_d12c6a27     ?

In [23]:
dfOut['outArr'] = dfOut['user-id'].apply(lambda x: dSum[x])
dfOut.head()

/Users/Aaron-Qiu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,tweet-id,user-id,class,outArr
0,110,USER_ce270acf,NewYork,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
1,111,USER_ce270acf,NewYork,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
2,112,USER_ce270acf,NewYork,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
3,113,USER_ce270acf,NewYork,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
4,114,USER_ce270acf,NewYork,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."

In [24]:
len(dfOut['outArr'][0])

454

In [25]:
dfOut_test['outArr'] = dfOut_test['user-id'].apply(lambda x: dSum_test[x])
dfOut_test.head()

/Users/Aaron-Qiu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,tweet-id,user-id,class,outArr
0,32,USER_d12c6a27,?,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
1,33,USER_d12c6a27,?,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
2,34,USER_d12c6a27,?,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
3,35,USER_d12c6a27,?,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
4,36,USER_d12c6a27,?,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."

In [26]:
len(dfOut_test['outArr'][0])

454

In [27]:
with open(outPath, "w") as f:
    f.write(trainTxts[0] + "@DATA\n")
    for index, row in dfOut.iterrows():
        tid = row['tweet-id']
        uid = row['user-id']
        arr = row['outArr']
        city = row['class']
        f.write(str(tid) + ',' + uid)
        for x in arr:
            f.write(',' + str(x))
        f.write(',' + city + "\n")

In [28]:
with open(txtPath, "w") as f:
    for index, row in dfOut.iterrows():
        tid = row['tweet-id']
        uid = row['user-id']
        arr = row['outArr']
        city = row['class']
        f.write(str(tid) + ',' + uid)
        for x in arr:
            f.write(',' + str(x))
        f.write(',' + city + "\n")

In [29]:
with open(outPath_test, "w") as f:
    f.write(testTxts[0] + "@DATA\n")
    for index, row in dfOut_test.iterrows():
        tid = row['tweet-id']
        uid = row['user-id']
        arr = row['outArr']
#         city = row['class']
        city = 'California'
#         f.write(str(tid) + ',' + uid)
        for x in arr:
            f.write(str(x) + ',')
        f.write(city + "\n")

In [30]:
with open(txtpath_Test, "w") as f:
    for index, row in dfOut_test.iterrows():
        tid = row['tweet-id']
        uid = row['user-id']
        arr = row['outArr']
#         city = row['class']
        city = 'California'
#         f.write(str(tid) + ',' + uid)
        f.write(str(tid) + ',')
        for x in arr:
            f.write(str(x) + ',')
        f.write(city + "\n")

In [31]:
Label = pd.read_csv(txtPath, header=None, sep=',')
Label.rename(columns = {Label.shape[1] - 1:'class'}, inplace=True)
Label.head()

,0,1,2,3,4,5,6,7,8,9,...,447,448,449,450,451,452,453,454,455,class
0,110,USER_ce270acf,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,NewYork
1,111,USER_ce270acf,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,NewYork
2,112,USER_ce270acf,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,NewYork
3,113,USER_ce270acf,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,NewYork
4,114,USER_ce270acf,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,NewYork

In [32]:
Label.shape

(130613, 457)

In [33]:
# Label = df
# Label.head()

In [34]:
# (np.array(range(Label.shape[1] - 3)) + 2).tolist()
# (np.array(range(Label.shape[1] - 6)) + 2).tolist() + ['pNewYork', 'pCalifornia', 'pGeorgia']

In [35]:
features = (np.array(range(Label.shape[1] - 3)) + 2).tolist()

In [36]:
Label.drop_duplicates(subset=features, keep='first', inplace =True)
Label.shape

(3190, 457)

# Classification

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score 

x_train, x_test, y_train, y_test = train_test_split(Label[features], 
                                                    Label['class'], 
                                                    test_size=0.2,
                                                    shuffle=True,
                                                    random_state=3)

In [38]:
from sklearn import feature_selection
fs = feature_selection.SelectPercentile(feature_selection.chi2, percentile=100)
x_train_fs = fs.fit_transform(x_train, y_train)
x_test_fs = fs.transform(x_test)

In [39]:
print(len(x_train_fs[0]), x_train.shape[1])

454 454

## DF-Tree

In [40]:
from sklearn import tree
dfTree = tree.DecisionTreeClassifier(criterion='entropy')
# dfTree.fit(x_train, y_train)
dfTree.fit(x_train_fs, y_train)
print(len(dfTree.feature_importances_))
# predict_train = dfTree.predict(x_train)
# predict_test = dfTree.predict(x_test)
predict_train = dfTree.predict(x_train_fs)
predict_test = dfTree.predict(x_test_fs)
print('f1 for train = ' , f1_score(y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(y_test, predict_test, average='micro'))

454
f1 for train =  1.0
f1 for test =  0.6489028213166145

## Bernoulli Naive Bayes

In [41]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb.fit(x_train_fs, y_train)
predict_train = bnb.predict(x_train_fs)
predict_test = bnb.predict(x_test_fs)
print('f1 for train = ' , f1_score(y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(y_test, predict_test, average='micro'))

f1 for train =  0.79858934169279
f1 for test =  0.7648902821316614

## Gaussian Naive Bayes

In [42]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_fs, y_train)
predict_train = gnb.predict(x_train_fs)
predict_test = gnb.predict(x_test_fs)
print('f1 for train = ' , f1_score(y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(y_test, predict_test, average='micro'))

f1 for train =  0.8240595611285266
f1 for test =  0.780564263322884

## Multinomial Naive Bayes

In [43]:
from sklearn.naive_bayes import MultinomialNB
nnb = MultinomialNB()
nnb.fit(x_train_fs, y_train)
predict_train = nnb.predict(x_train_fs)
predict_test = nnb.predict(x_test_fs)
print('f1 for train = ' , f1_score(y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(y_test, predict_test, average='micro'))

f1 for train =  0.7797805642633229
f1 for test =  0.7601880877742947

In [38]:
# opt = np.where(results == results.max())[0]
# results[opt]
# opt

## KNN

In [39]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=20)
neigh.fit(x_train_fs, y_train)
predict_train = neigh.predict(x_train_fs)
predict_test = neigh.predict(x_test_fs)
print('f1 for train = ' , f1_score(y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(y_test, predict_test, average='micro'))

f1 for train =  0.6649686520376176
f1 for test =  0.6065830721003135

max : 
60
82

## SVM

In [341]:
from sklearn.svm import SVC
from sklearn.svm import LinearSVC

svc = LinearSVC(C=0.12, random_state=42)

svc.fit(x_train_fs, y_train)
predict_train = svc.predict(x_train_fs)
predict_test = svc.predict(x_test_fs)
print('f1 for train = ' , f1_score(y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(y_test, predict_test, average='micro'))

f1 for train =  0.9149686520376177
f1 for test =  0.835423197492163

/Users/Aaron-Qiu/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [162]:
# svc = SVC(C=10, cache_size=200, degree=3, kernel='poly', coef0=0.5)
# f1 for train =  0.9862852664576802
# f1 for test =  0.7335423197492165
# svc = SVC(C=10, cache_size=200, kernel='linear')

# MLP classifier

In [334]:
## from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import BernoulliRBM
from sklearn.neural_network import MLPRegressor
mlp = MLPClassifier(activation='tanh', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=True, epsilon=1e-06,
              hidden_layer_sizes=(100,), learning_rate='adaptive',
              learning_rate_init=0.001, max_iter=10000, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=42, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

mlp.fit(x_train_fs, y_train)

predict_train = mlp.predict(x_train_fs)
predict_test = mlp.predict(x_test_fs)
print('f1 for train = ' , f1_score(y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(y_test, predict_test, average='micro'))

f1 for train =  0.9408307210031348
f1 for test =  0.822884012539185

# submission

In [335]:
unLabel = pd.read_csv(txtpath_Test, header=None, sep=',')
unLabel.head()

,0,1,2,3,4,5,6,7,8,9,...,446,447,448,449,450,451,452,453,454,455
0,32,1,0,0,0,0,0,0,0,0,...,3,0,0,1,0,0,0,1,2,California
1,33,1,0,0,0,0,0,0,0,0,...,3,0,0,1,0,0,0,1,2,California
2,34,1,0,0,0,0,0,0,0,0,...,3,0,0,1,0,0,0,1,2,California
3,35,1,0,0,0,0,0,0,0,0,...,3,0,0,1,0,0,0,1,2,California
4,36,1,0,0,0,0,0,0,0,0,...,3,0,0,1,0,0,0,1,2,California

In [342]:
test_features = (np.array(range(unLabel.shape[1] - 2)) + 1).tolist()
predict_answer = svc.predict(fs.transform(unLabel[test_features]))

In [343]:
with open("submission.csv", "w") as f:
    f.write('tweet-id,Class\n')
    index = 0
    for i in predict_answer:
        f.write(str(unLabel[0][index]) + ',' + str(i) + '\n')
        index += 1

## Trial

In [232]:
trial_train = pd.read_csv("merged_train-best200.csv", header=None, sep=',')
trial_dev = pd.read_csv("merged_dev-best200.csv", header=None, sep=',')
print(trial_train.shape, trial_dev.shape)

(2396, 302) (794, 302)

In [233]:
myTrain = pd.concat([trial_train, trial_dev])
myTrain.shape

(3190, 302)

In [234]:
myTrain.head()

,0,1,2,3,4,5,6,7,8,9,...,292,293,294,295,296,297,298,299,300,301
0,USER_567178a2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,USER_db6c2232,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,USER_32d5ca3c,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,USER_2f0e1c67,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,USER_13320fbb,1,0,0,0,0,0,3,0,0,...,0,0,0,1,0,0,0,0,0,0

In [240]:
trial_features = (np.array(range(myTrain.shape[1] - 2)) + 1).tolist()
trial_class = myTrain.shape[1] - 1

In [259]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score 

trial_x_train, trial_x_test, trial_y_train, trial_y_test = train_test_split(myTrain[trial_features], 
                                                    myTrain[trial_class], 
                                                    test_size=0.2,
                                                    shuffle=True,
                                                    random_state=3)

In [260]:
from sklearn.svm import SVC
from sklearn.svm import LinearSVC

svc = LinearSVC(C=0.4)
nnb = MultinomialNB()
mlp = MLPClassifier()

svc.fit(trial_x_train, trial_y_train)
predict_train = svc.predict(trial_x_train)
predict_test = svc.predict(trial_x_test)
print('f1 for train = ' , f1_score(trial_y_train, predict_train, average='micro'))
print('f1 for test = ' , f1_score(trial_y_test, predict_test, average='micro'))

f1 for train =  0.8785266457680251
f1 for test =  0.8244514106583072

/Users/Aaron-Qiu/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)